<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>DyVert</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-brand roboto-mono-nav-brand">
            <a href="#" class="navbar-brand">DyVert</a>
        </div>
        <div class="nav-links roboto-mono-nav-links">
            <ul class="links">
                <li><a href="#" class="link-active">Dashboard</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="acct-notation roboto-mono-nav-links">
            <a href="@{/user/home}">
                Admin Account
            </a>
        </div>
        <div class="nav-profile-container">
            <a href="@{/user/login}" class="nav-profile-container">
                <img src="@{/Icons/user-circle.svg}" alt="profile icon" class="nav-profile">
            </a>
        </div>
    </nav>

    <div class="content-container">
        <div class="side-menu">
            <div class="side-option">
                <p class="side-menu-heading">Menu</p>
            </div>
            <div class="side-option menu-option">
                <a th:href="@{/card/all-unreviewed}" class="side-option">
                    <p class="side-menu-text">Unreviewed Cards</p>
                </a>
            </div>
            <div class="side-option menu-option">
                <a th:href="@{/user/admin-accounts}" class="side-option">
                    <p class="admin-active">Accounts</p>
                </a>
            </div>
        </div>

        <div class="table-container">
            <table class="bucket-table content-card-text">
                <thead>
                    <tr>
                        <th>Account Name</th>
                        <th>Account Type</th>    
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${accounts}">  <!-- Iterate over each user in the users list -->
                        <td th:text="${user.accountID}">Username</td>  <!-- Display the username -->
                        <td th:text="${user.accountType}">Account Type</td>  <!-- Display the account type -->   
                        <td>
                            <form th:action="@{/user/deleteUser}" method="post">
                                <input type="hidden" name="id" th:value="${user.accountID}" />
                                <button type="submit">
                                    <img src="@{/Icons/trash.svg}" class="table-icon" alt="Delete Icon">
                                </button>
                            </form>
                        </td>
                        
                            
                        
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</body>
</html>
